main {
  flex:1;
  max-width: 960px;
}

ul {
	-webkit-padding-start:0;
}

.App {
  text-align: center;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
	background-color: #FAFAFA;
	align-items: center;
  
}