.App-PhotoGrid__item {
	margin-right:20px;
	margin-bottom: 20px;
	max-width: 33%;
}

.App-PhotoGrid__item img:hover {
	cursor: pointer;
}

.App-PhotoGrid__item:last-child {
	margin-right: 0;
}

.App-PhotoGrid__image {
	overflow: hidden;
	height: 0;
	padding-bottom:100%;
}

.App-PhotoGrid__image img {
	width:100%;
}