@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  color: 	#353839;
}

* {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	color: #FF6B6B;
}

.form-wrapper {
	background-color: #FFF;
	padding:2em;
	border-radius: 2px;
	display:flex;
	flex-direction: column;
}

.form-control {
	display:flex;
	flex-direction: column;
	padding:1em 3em;
	min-width: 300px;
}

.form-control input[type=text] {
	padding:1.0em 0.6em;
	border-radius: 4px;
	border:1px solid #d8d8d8;
	margin-bottom: 20px;
}

