.Modal__backdrop {
  position: fixed;
  z-index:999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  padding-top:120px;
}

.Modal__close {
  position: absolute;
  right:25px;
  top:25px;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
}

.Modal__close:hover {
  color: #FF6B6B;
}

.Modal {
  background-color: #fff;
  max-width: 960px;
  min-height: 300px;
  margin: 0 auto;
  display:flex;
}

.PhotoModal__image {
  display:flex;
  max-width: 640px;
}

.PhotoModal__image img {
  max-width: 640px;
}

.PhotoModal__content {
	display:flex;
	flex-direction: column;
  width: 100%;
}

.PhotoModal__user {
	display:flex;
	align-items: center;
	padding:1em;
}

.PhotoModal__username {
	margin-right: 0.5em;
	font-weight: 600;
	color:#1A1C1C;
	font-size:14px;
}

.PhotoModal__username:hover {
	color:#FF6B6B;
}